doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/js_hfang.js')
    script(type='text/javascript', src='/javascripts/js_ykarita.js')
    script(type='text/javascript', src='/javascripts/js_ylin.js')
    script(type='text/javascript', src='/javascripts/js_yyan.js')
  body
    block content